# This workflow will build a package using Maven, create a Docker image and push this to GitHub container registry
# https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-docker-images

# The artifact publication to GitHub packages via Maven deploy as per below is commented out
# https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Package and Publish

on:
  workflow_dispatch:  # manual triggering
  #push
  #release:
  #  types: [created]

# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  maven-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write      

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml

    - name: maven-settings
      run: |
              echo "<settings>
                      <activeProfiles>
                        <activeProfile>github</activeProfile>
                      </activeProfiles>
                      <profiles>
                          <profile>
                          <id>github</id>
                          <repositories>
                            <repository>
                              <id>central</id>
                              <url>https://repo1.maven.org/maven2</url>
                            </repository>
                            <repository>
                              <id>github</id>
                              <url>https://maven.pkg.github.com/jwattsuk/REPOSITORY</url>
                              <snapshots>
                                <enabled>true</enabled>
                              </snapshots>
                            </repository>
                          </repositories>
                        </profile>
                      </profiles>                    
                      <servers>
                        <server>
                          <id>github</id>
                          <username>jwattsuk</username>
                          <password>${GITHUB_TOKEN_REF}</password>
                        </server>
                      </servers>
                    </settings>" > /home/runner/.m2/settings.xml
      env:
        GITHUB_TOKEN_REF: ${{ secrets.GH_PAT_FOR_ACTIONS_TOKEN }}

    - name: Print settings xml
      run: cat /home/runner/.m2/settings.xml

    - name: Build with Maven
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: mvn -B package --file sample-service-parent/pom.xml --settings settings.xml -X

    - name: Set up QEMU (for multi-arch support)
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image (multi-arch)
      id: push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64  # Supports both x86_64 and ARM64
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}



    # Commented to push Docker image instead
    #- name: Publish to GitHub Packages Apache Maven
    #  run: mvn deploy --file sample-service-parent/pom.xml --settings settings.xml
    #  env:
    #    GITHUB_TOKEN: ${{ github.token }}
